!!! 5
%title Flaskr
%link{ 'rel': 'stylesheet', 'href': 'assets/styles.css' }

%nav
  %h1 Application with pretrained models

%section{ 'class': 'content' }
  %header
    Pretrained models

  {{content}}
