@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  overflow: hidden;
  background-color: #ffeedd;
}

.App {
  display: flex;
  flex-direction: column;
}

/* commun style */
.main {
  display: flex;
}
/* ------------------------- */

/* Navbar style */
/* ------------------------- */
.navbar {
  padding: 14px;
  /* margin-bottom: 4px; */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar ul li {
  margin: 0 4px;
}
.navbar ul li a {
  color: rgb(238, 237, 237);
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.navbar ul li a:hover {
  background-color: rgba(118, 255, 232, 0.178);
}
/* ------------------------------------- */

/* Modals page style */
.modals {
  flex-direction: column;
}
.side-bar {
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
  height: 100%;
  justify-content: center;
  color: rgb(255, 255, 255);

  /* margin-top: 10px; */
  /* height: 25vh; */
}
.side-bar * {
  margin: 6px;
  padding: 12px;
  text-align: center;
  /* border: 1px solid rgb(216, 216, 216); */
  border-radius: 4px;
  width: 20rem;
  /* height: 10rem; */
  /* background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  cursor: pointer;
}
.object-detection {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
}
.up-btn {
  outline: none;
  border: none;
  padding: 10px 20px;
}
.upload-btn {
  margin: 0 8px;
  border: 1px solid black;
}
.url-btn {
  width: 40rem;
  padding: 10px;
}

/* translator modal */
.tr-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.tr-widget textarea {
  width: 40rem;

  resize: none;
  border: none;

  background-color: #f1dabf;
  padding: 10px;
  /* filter: drop-shadow(0.15rem 0.1rem 0.4rem rgba(0, 0, 0, 0.1)); */
}
.tr-widget .bottom_child {
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid rgb(243, 185, 185);
}
.tr-widget textarea:focus-visible {
  outline: none;
}
/* --------------test--------------- */

.menu {
  display: flex;
}
.language_drop {
  padding: 6px 18px;
  width: 20rem;
  height: 3rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background: transparent;
  border-top: 1px solid rgb(243, 185, 185);
  border-bottom: 1px solid rgb(243, 185, 185);
  text-align: center;
}
.language_drop .left_child {
  border-radius: 1rem 0 0 0;
}
.language_drop .right_child {
  border-radius: 0 1rem 0 0;
}
/* ------------------------------------- */
/* About page style */
.about {
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 16px;

  /* transform: translate(-50, -50%); */
}
.about * {
  margin-bottom: 8px;
}
/* ------------------------------------- */
